@import '~bulma/bulma';

// To set the font size on which rems are based:
:root {
  font-size: 35px;

  @media (max-width: 1500px) {
    font-size: 30px;
  }

  @media (max-width: 1200px) {
    font-size: 25px;
  }

  @media (max-width: 1000px) {
    font-size: 20px;
  }

  @media (max-width: 800px) {
    font-size: 16px;
  }

  @media (max-width: 700px) {
    font-size: 12px;
  }

  @media (max-width: 500px) {
    font-size: 10px;
  }

  @media (max-width: 400px) {
    font-size: 8px;
  }
}

$success: #EA2027;

.game {
  padding: $gap 0;
  min-height: 100vh;
  color: $text-light;

  &:focus {
    outline: none;
    color: $text;
  }
}

.guess {
  padding-top: $gap;

  &:focus {
    background-color: rgba($primary, 1);
    color: rgba($primary-invert, 1);

    .hint {
      color: $grey-lighter;
    }
  }
}

.game.longMode {
  // Put the word in the middle of the page:
  display: flex;

  .level .level-item.charGuess  {
    margin-left: 0;
    margin-right: 0;
  }
}
.guess {
  flex-grow: 1;
}
.charGuess {
  $shadeColour: $grey;
  $shade: linear-gradient(210deg, rgba($shadeColour, 0.2), rgba($shadeColour, 0));
  $charRadius: 1.5rem;

  .letter {
    font-size: 2rem;
    display: inline-block;
    width: $charRadius * 2;
    height: $charRadius * 2;
    line-height: $charRadius * 2;
    border-radius: $radius-large;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 $radius-small $shadeColour; 
    box-shadow: 0 0 $radius-large $shadeColour; 
    font-weight: bold;
    color: $link-invert;
    background-color: $link;
    background-image: $shade;
    
    .hint {
      color: scale-color($link-invert, $lightness: -15%);
    }
  }

  &.close {
    .letter {
      // Bad for accessibility, but the TV show uses white letters as well, hence it's commented out:
      // color: $warning-invert;
      background-image: $shade, radial-gradient(rgba($warning, 1) $charRadius, rgba($warning, 0) calc(#{$charRadius} + 1px));
    }
  }
  &.correct {
    .letter {
      background-color: $success;
      color: $success-invert;
    }
  }

}
